:root {
    --white: #fff;
    --black: #000;
    --success: #50812A;
    --information: #6291E8;
    --warning: #ffcd2b;
    --error: #F66060;
    --background: #E5E5E5;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--background);
}

/*----------------------------Visita Guiada---------------------------------*/
main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.form__input-group {
    position: relative;
}

.form__input {
    width: 100%;
    background: var(--white);
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.form__input:focus {
    border: 3px solid var(--information);
    outline: none;
    box-shadow: 3px 0px 30px rgb(163, 163, 163, 0.4);
}

.form__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.form__input-error-active {
    display: block;
}

.form__validation-status {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.form__checkbox {
    margin-right: 10px;
}

.form__message,
.form__btn-group {
    grid-column: span 2;
}

.form__message {
    height: 45px;
    line-height: 45px;
    background: var(--error);
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.form__message-active {
    display: block;
}

.form__message p {
    margin: 0;
}

.form__btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__btn {
    height: 45px;
    line-height: 45px;
    width: 100%;
    background: var(--black);
    color: var(--white);
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.form__btn:hover {
    box-shadow: 3px 0px 30px rgb(163, 163, 163, 1);
}

.form__success-message {
    font-size: 14px;
    color: var(--success);
    display: none;
}

.form__success-message-active {
    display: block;
}

/* Validation Styles */

.form__group-correct .form__validation-status {
    color: var(--success);
    opacity: 1;
}

.form__group-incorrect .form__label {
    color: var(--error);
}

.form__group-incorrect .form__validation-status {
    color: var(--error);
    opacity: 1;
}

.form__group-incorrect .form__input {
    border: 3px solid var(--error);
    opacity: 1;
}

/* Media Queries */
@media screen and (max-width: 800px) {
    .form {
        grid-template-columns: 1fr;
    }

    .form__message,
    .form__btn-group {
        grid-column: 1;
    }
}

/*----------------------------Inscribir niño---------------------------------*/body {font-family: Segoe UI;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: var(--white);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: var(--black);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: var(--background);
    color: var(--black);
    height:10%;
  }
  
  .modal-body {
    background-color: var(--background);
    padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: var(--background);
    color: var(--white);
    position: fixed;
    height:15%;
  }