:root {
    --blanco: #fefefe;
    --negro: #000;
    --fuente: 'Poppins', sans-serif;
    --sombra: rgba(255, 255, 255, 0.6);
    --sombraTabla: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --principal: #80C4D3;
    --secundario: #5A9EB3;
    --blancoSecundario: #e0e0e0;
    --informacion: #10BFFB;
    --sombraInformacion: rgba(16, 191, 251, 0.5);
    --sombraOscura: rgba(0, 0, 0, 0.5);
    --sombraOscura2: rgba(0, 0, 0, 0.3);
    --rojoPrincipal: #CD4533;
    --rojoSecundario: #A32F23;
  }
  
  @font-face {
    font-family: 'Poppins-regular';
    src: url(../../../assets/fonts/Poppins-Regular.ttf);
  }
  
  @font-face {
    font-family: 'Poppins-bold';
    src: url(../../../assets/fonts/Poppins-Bold.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins-regular';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: white;
}

.container {
    flex: 1;
}

/* Menú principal */
.menu-principal {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #FFD6D0;
    border-bottom: 1px solid #ddd;
    position: relative;
    z-index: 10;
    
}

/* Menú fijo */
.menu-fijo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.781);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    transition: top 0.3s ease;
    z-index: 1000;
}

.menu-fijo.visible {
    top: 0;
}

.opciones {
    display: flex;
    gap: 20px;
}

.opciones a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.opciones a:hover {
    color: #FF725E;
}

/* Estilos para los botones dentro de .menu-principal */
.menu-principal button {
    font-weight: 600; 
    background: none; 
    border: none;
    color: var(--black); 
    padding: 10px 20px;
    padding-left: 80px;
    cursor: pointer;
    transition: color 0.3s ease; 
}

/* Hover para los botones normales */
.menu-principal button:hover {
    color: #FF725E; 
}

/* Estilos para "Inscribirse" */
.menu-principal .btn-inscribirse {
    background-color: #CD4533; 
    color: var(--white); 
    border-radius: 5px; 
    padding: 5px 20px;
    transition: background-color 0.3s ease; 
}

/* Hover para el botón "Inscribirse" */
.menu-principal .btn-inscribirse:hover {
    background-color: #FF725E; 
    color: var(--white); 
}

.logo {
    height: 50px;
    padding: 0;
    margin: 0;
}

.logo img {
    height: 50px;
}
/* Estilos para el botón de menú hamburguesa */
.hamburguesa {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: 250px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000; /* Asegurar que está encima */
    position: relative;
}

.hamburguesa-linea {
    width: 30px;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
}
/* <!-- Menú móvil --> */
.menu-movil {
    position: fixed;
    top: 0;
    left: -100%; /* Oculto por defecto */
    width: 80%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 1000;
    padding-top: 60px;
}

.menu-movil.visible {
    left: 0; /* Mostrar menú */
}

.opciones-movil {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.opciones-movil a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.opciones-movil a:hover {
    color: #FF725E;
}

/*RESPONISVE DEL MENÚ*/
/* Media Queries */
@media (max-width: 768px) {
    .menu-principal {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .menu-principal .btn-inscribirse{
        padding: 10px;
    }
    .botonesMenu {
        padding-left: 10px;
    }
  

    .menu-fijo {
        display: none;
    }

    .menu-movil {
        width: 0%;
        height: 100%;
    }

    .hero-title {
        font-size: 28px;
    }

    .contact-form-title, .work-with-us-title {
        font-size: 14px;
    }

    .contact-form-text, .work-with-us-text {
        font-size: 16px;
    }

    .submit-btn {
        width: 100%;
    }
}

@media (min-width: 769px) {
    .menu-movil {
        visibility: hidden;
        opacity: 0;
        left: -100%;
        transition: opacity 0.3s ease, left 0.3s ease;
    }
    
    .hamburguesa {
        display: none;
    }
}
/* Hero Section */
.hero {
    background-image: url(../../../assets/img/inscripcion3.jpg);
    background-size: cover;
    background-position: center;
    height: auto; /* Cambiado a auto para que se ajuste al contenido */
    min-height: 300px; /* Altura mínima para asegurar que se vea bien */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    padding: 40px 20px; /* Añadido padding para mejor espaciado */
}

.hero-title {
    color: #3a3a3a;
    font-size: 2.5rem; /* Tamaño de fuente relativo */
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0 20px; /* Añadido padding para mejor espaciado */
}

.breadcrumb {
    font-size: 14px;
    color: #000000;
    margin-top: 10px;
}

.breadcrumb a {
    color: #000000;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}


.separator {
    width: 2px;
    height: 20px;
    background: white;
}

.contact-form-section {
    display: flex;
    align-items: center;
    padding: 40px 60px;
}

.contact-form-section img {
    width: 40%;
    border-radius: 10px;
}

.contact-form-content {
    margin-left: 40px;
}

.contact-form-title {
    font-size: 42px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: #CD4533;
}
.parrafocontacto{
    font-size: 25px;
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contact-form-text {
    font-size: 18px;
    color: black;
}

.contact-form {
    padding: 40px 60px;
    background: #80C4D3;
    /* max-width: 600px; */
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 18px;
    font-weight: 600;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #BACBCF;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

.submit-btn {
    padding: 15px 40px;
    background: #CD4533;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.work-with-us-section {
    padding: 40px 60px;
    border-radius: 10px;
    margin: 40px auto;
    max-width: 1200px;
}

.work-with-us-content {
    text-align: center;
    margin-bottom: 40px;
}

.work-with-us-title {
    font-size: 42px;
    font-weight: 700;
    color: #CD4533;
    margin-top: 50px;
}

.work-with-us-text {
    font-size: 25px;
    color: black;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 90px;
    margin-top: 40px;
}

.cv-upload-section {
    display: flex;
    align-items: center;
    gap: 40px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.cv-upload-section img {
    width: 40%;
    border-radius: 10px;
}

.cv-upload-form {
    width: 60%;
}

.cv-upload-title {
    font-size: 24px;
    font-weight: 700;
    color: #CD4533;
    margin-bottom: 20px;
}

.cv-upload-form .form-group {
    margin-bottom: 15px;
}

.cv-upload-form .form-group label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.cv-upload-form .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #BACBCF;
    border-radius: 5px;
}

.cv-upload-form .submit-btn {
    padding: 12px 50px;
    background: #CD4533;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: auto;
    margin-top: 20px;
}
#botoncv{
   font-family: 'Poppins-regular';
}

.about-section {
    position: relative;
    padding: 40px 30px;
    text-align: left;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.4;
}

.about-content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.about-text {
    width: 50%;
    font-size: 25px;
    color: white;
    margin-top: 50px;
}

.contact-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.info-item iframe {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 10px;
}

.highlight {
    color: #CD4533;
    font-weight: 700;
}

.footer {
    width: 100%;
    background: black;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.footer-divider {
    height: 2px;
    background: white;
    width: 50%;
    margin: 0 auto 20px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: white;
    font-size: 18px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.copyright {
    color: white;
    opacity: 0.5;
    margin-top: 20px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}

input.error, textarea.error {
    border: 2px solid red;
    background-color: #ffe6e6;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .slider-container {
        max-width: 100vw;
        overflow: hidden;
    }

    .header {
        flex-direction: column;
        height: auto;
        padding: 10px 20px;
    }

    .header img {
        width: 150px;
    }

    .header-links {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .hero-links {
        flex-direction: column;
        gap: 10px;
    }
    .work-with-us-section {
        padding: 20px;
    }

    .about-section {
        padding: 20px;
    }

    .footer {
        padding: 20px;
    }

    .cv-upload-section {
        flex-direction: column;
    }

    .cv-upload-section img {
        width: 100%;
    }

    .cv-upload-form {
        width: 100%;
    }

    .about-content {
        flex-direction: column;
    }

    .about-text, .contact-info {
        width: 100%;
    }

    .contact-info {
        margin-top: 20px;
    }
}

/* MÒVIL RESPONSIVE */

@media (max-width: 480px) {
    .header {
        padding: 10px;
    }

    .header img {
        width: 120px;
    }

    .hero-section {
        height: 200px;
    }

    .hero-title {
        font-size: 24px;
    }

    .hero-breadcrumb {
        font-size: 14px;
    }
    
    .contact-form-section {
        padding: 10px;
    }

    .contact-form {
        padding: 10px;
        width: 350px;
        text-align: center;
    }
    .contact-form-title{
        margin-top: 80px;
        font-size: 25px;
        text-align: center;
    }
    .contact-form-text{
        /* text-align: justify; */
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 15px;
        text-align: center;
    }
    .imgcontacto{
        height: 250px;
    }
    .submit-btn{
       align-items: center;   
    }

    .work-with-us-section {
        padding: 10px;
    }

    .work-with-us-title {
        font-size: 30px;
    }

    .work-with-us-text {
        font-size: 18px;
        padding-top: 10px;
    }

    .cv-upload-title {
        font-size: 20px;
    }
    .cv-upload-section img{
        padding-top: -15px;
    }
    .about-text {
        font-size: 20px;
    }

    .contact-info {
        font-size: 14px;
    }
    .footer{
        width: 100%;
        align-items: center;
    }

    .footer-links {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .social-icons {
        flex-direction: row;
    }
}