:root {
    --white: #fff;
    --black: #2c3e50;
    --success: #50812A;
    --information: #6291E8;
    --warning: #ffcd2b;
    --error: #F66060;
    --background: #ffffff;
}

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins-regular', sans-serif;
}

a {
    text-decoration: none;
    color: var(--black);
}

body {
    font-family: 'Poppins-regular', sans-serif;
    background: var(--background);
    line-height: 1.6;
    color: #2c3e50;
}

/* Contenedor del formulario */
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 60px;
}

.form-container {
    width: 100%;
    max-width: 800px;
    background: var(--white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2.5px solid #FFD6D0;
}

#userForm {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

#userForm h1,
#userForm h2,
#userForm h3,
#userForm p {
    grid-column: 1 / -1;
    margin-bottom: 10px;
}

.input-field {
    position: relative;
    width: 100%;
    max-width: 740px;
    line-height: 1.3;
}

.input-field input,
.input-field textarea,
.input-field select {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    font-size: 16px;
    padding: 0 12px;
    border: 2px solid var(--black);
    background: transparent;
    outline: none;
}

.input-field textarea {
    height: 100px; /* Altura fija para el textarea */
    resize: vertical; /* Permite redimensionar verticalmente */
    padding: 12px; /* Más padding para mejor legibilidad */
}

.input-field select {
    appearance: none; /* Elimina el estilo por defecto del select */
    background: var(--white);
    cursor: pointer;
}

.input-field input::placeholder,
.input-field textarea::placeholder {
    color: transparent;
}

.input-field label {
    position: absolute;
    top: 15px;
    left: 12px;
    color: #2c3e50;
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s;
    background: var(--white);
    padding: 0 4px;
}

.input-field input:focus ~ label,
.input-field input:not(:placeholder-shown) ~ label,
.input-field textarea:focus ~ label,
.input-field textarea:not(:placeholder-shown) ~ label,
.input-field select:focus ~ label,
.input-field select:not(:placeholder-shown) ~ label {
    top: -8px;
    font-size: 12px;
    color: #2c3e50;
    background: var(--white);
}

.error {
    color: var(--error);
    font-size: 0.9rem;
    margin-top: 5px;
    display: none;
}

.error.visible {
    display: block;
}

.formButton button {
    width: 100%;
    padding: 12px;
    background-color: var(--information);
    color: var(--white);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formButton button:hover {
    background-color: darken(var(--information), 10%);
}

.child-block {
    grid-column: 1 / -1;
    margin-bottom: 10px;
}

#childrenContainer {
    grid-column: 1 / -1;
    margin-bottom: 10px;
}

.botoncito {
    grid-column: 1 / -1;
    margin-bottom: 10px;
}

.child-block {
    margin-top: 20px;
}

.child-block h2 {
    grid-column: 1 / -1;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #2c3e50;
}

.child-block h3 {
    grid-column: 1 / -1;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #2c3e50;
}

.child-block .input-field {
    margin-bottom: 15px;
}

.child-block .input-field input,
.child-block .input-field textarea,
.child-block .input-field select {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    font-size: 16px;
    padding: 0 12px;
    border: 2px solid #2c3e50;
    background: transparent;
    outline: none;
}

.child-block .input-field textarea {
    height: 100px;
    resize: vertical;
    padding: 12px;
}

.child-block .input-field select {
    appearance: none;
    background: var(--white);
    cursor: pointer;
}

.child-block .input-field label {
    position: absolute;
    top: 15px;
    left: 12px;
    color: var(--black);
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s;
    background: var(--white);
    padding: 0 4px;
}

.child-block .input-field input:focus ~ label,
.child-block .input-field input:not(:placeholder-shown) ~ label,
.child-block .input-field textarea:focus ~ label,
.child-block .input-field textarea:not(:placeholder-shown) ~ label,
.child-block .input-field select:focus ~ label,
.child-block .input-field select:not(:placeholder-shown) ~ label {
    top: -8px;
    font-size: 12px;
    color: var(--black);
    background: var(--white);
}

.child-block .error {
    color: var(--error);
    font-size: 0.9rem;
    margin-top: 5px;
    display: none;
}

.child-block .error.visible {
    display: block;
}

/******* MENÚ **********/

/* Menú principal */
.menu-principal {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #FFD6D0;
    border-bottom: 1px solid #ddd;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/* Menú fijo */
.menu-fijo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.781);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    transition: top 0.3s ease;
    z-index: 1000;
}

.menu-fijo.visible {
    top: 0;
}

.opciones {
    display: flex;
    gap: 20px;
}

.opciones a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.opciones a:hover {
    color: #FF725E;
}

.botonesMenu a {
    font-family: 'Poppins-bold', 'Poppins', sans-serif;
}

/* Estilos para los botones dentro de .menu-principal */
.menu-principal button {
    font-weight: 600; /* Semi-bold */
    background: none; /* Sin fondo */
    border: none;
    color: var(--black); /* Color del texto */
    padding: 10px 20px;
    padding-left: 100px;
    cursor: pointer;
    transition: color 0.3s ease; /* Transición suave para el hover */
}

/* Hover para los botones normales */
.menu-principal button:hover {
    color: #FF725E; /* Rojo al pasar el mouse */
}

/* Estilos para "Inscribirse" */
.menu-principal .btn-inscribirse {
    background-color: #CD4533; /* Fondo rojo */
    color: var(--white); /* Texto blanco */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 20px;
    transition: background-color 0.3s ease; /* Transición suave para el hover */
}

/* Hover para el botón "Inscribirse" */
.menu-principal .btn-inscribirse:hover {
    background-color: #FF725E; /* Rojo más oscuro al pasar el mouse */
    color: var(--white); /* Texto blanco */
}

.logo {
    height: 50px;
    padding: 0;
    margin: 0;
}

.logo img {
    height: 50px;
}

.logo-menu {
    margin-top: 1000px;
    padding-top: 100px;
}



/* Estilos para los botones dentro de .menu-principal */
.menu-principal button {
    font-weight: 600; /* Semi-bold */
    background: none; /* Sin fondo */
    border: none;
    color: #2c3e50; /* Color del texto */
    padding: 10px 20px;
    padding-left: 100px;
    cursor: pointer;
    transition: color 0.3s ease; /* Transición suave para el hover */
}

/* Hover para los botones normales */
.menu-principal button:hover {
    color: #FF725E; /* Rojo al pasar el mouse */
}

/* Estilos para "Inscribirse" */
.menu-principal .btn-inscribirse {
    background-color: #CD4533; /* Fondo rojo */
    color: var(--white); /* Texto blanco */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 20px;
    transition: background-color 0.3s ease; /* Transición suave para el hover */
}

/* Hover para el botón "Inscribirse" */
.menu-principal .btn-inscribirse:hover {
    background-color: #FF725E; /* Rojo más oscuro al pasar el mouse */
    color: var(--white); /* Texto blanco */
}



/* Hero section */
.hero {
    background-image: url(../../../assets/img/inscripcion3.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

/* Breadcrumb */
.breadcrumb {
    top: 20px;
    font-size: 16px;
    color: #2c3e50;
}

.breadcrumb a {
    color: #2c3e50;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

/* Título del hero */
.hero-title {
    color: #3a3a3a;
    font-size: 40px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilos para inputs, textareas y selects */
input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid var(--black);
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    background: var(--white);
}

textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
    min-height: 100px; /* Altura mínima */
}

select {
    appearance: none; /* Elimina el estilo por defecto del select */
    background: var(--white);
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px;
}

.detalles-inicioSesion {
    display: flex;
    flex-direction: row;
}

p {
    font-size: 18px;
}

h1 {
    text-align: center;
    color: #2c3e50;
    font-size: 40px;
    margin-bottom: 20px;
}

.excepcion {
    font-size: 35px;
    text-align: left;
}

h2 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 20px;
}

hr { 
    border: none;
    height: 1px;
    background-color: #2c3e509f;
    width: 100%;
    max-width: 900px; /* Limita el ancho del hr */
}

.input-field {
    width: 100%; /* Hace que el contenedor ocupe todo el ancho */
    max-width: 1000px; /* Evita que sea demasiado grande */
}

.intro {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 40px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.feature {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(50% - 40px);
    box-sizing: border-box;
    text-align: center;
}

.feature-icon {
    width: 80px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin-bottom: 15px;
}

.features {
    gap: 20px; /* Espaciado entre cada feature */
}

.feature {
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y el texto */
    gap: 15px; /* Espaciado entre la imagen y el texto */
}

.feature-icon {
    width: 50px; /* Ajusta el tamaño según necesites */
    height: auto;
}

.informacion {
    flex: 1; /* Hace que el texto ocupe el espacio restante */
}


.feature h2 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 15px;
}

.feature p {
    font-size: 1em;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .feature {
        width: 100%;
    }
}



/*----------------------------------------
FOOTER
-----------------------------------------*/
.about-section {
    position: relative;
    padding: 40px 30px;
    text-align: left;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.4;
}

.about-content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.about-text {
    width: 50%;
    font-size: 25px;
    color: white;
    margin-top: 50px;
}

.contact-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.info-item iframe {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 10px;
}

.highlight {
    color: #CD4533;
    font-weight: 700;
}

.footer {
    width: 100%;
    background: #2c3e50;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.footer-divider {
    height: 2px;
    background: white;
    width: 50%;
    margin: 0 auto 20px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: white;
    font-size: 18px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.copyright {
    color: white;
    opacity: 0.5;
    margin-top: 20px;
}

.botoncito button {
    background-color: #ff8c79;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.botoncito button:hover {
    background-color: #FF725E;
}


/*BOTON X*/
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #FF725E;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    transition: background 0.3s ease; /* Efecto de transición */
}

.close-button:hover {
    background: #c15142; /* Cambia el color al pasar el mouse */
}