:root {
    /*TAMAÑO TEXTO*/
    --titulo: 2.5rem;
    --subtitulo: 1.5rem;
    --subtitulo2: 1.30rem;
    --texto: 1.125rem;
    --tituloTarjeta: 1.25rem;
    --tarjeta: 1rem;

    /*TIPO DE LETRA*/
    --regular: 'Poppins-regular';
    --bold: 'Poppins-bold';

    /*COLORES*/
    --blanco: #f3f3f3;
    --blanco1: #fff;
    --negro: #333;
    --negro2: #000;
    --principal: #FF725E;
    --secundario: #CD4533;
    --azul: #80C4D3;
    --azul2: #5A9EB3;
    --fondoMenu1: #FFD6D0;
    --fondoMenu2: #ddd;
    --error: #D0090B;
    --error2: #c15142;
    --correcto: #50812A;

    /*SOMBRAS*/
    --sombra1: rgba(0, 0, 0, 0.1);
    --sombra2: rgba(0, 0, 0, 0.2);
    --sombra3: rgba(0, 0, 0, 0.3);
    --sombra4: rgba(0, 0, 0, 0.4);
    --sombra5: rgba(0, 0, 0, 0.5);
    --sombraMenu: rgba(255, 255, 255, 0.781);
}

@font-face {
    font-family: 'Poppins-regular';
    src: url(../../../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-bold';
    src: url(../../../assets/fonts/Poppins-Bold.ttf);
}

/*----------------------------------------
GENERAL
-----------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--black);
}

body {
    font-family: var(--regular);
    background: var(--blanco);
    line-height: 1.6;
    color: var(--negro);
}

/*----------------------------------------
FORMULARIO
-----------------------------------------*/
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 60px;
}

.form-container {
    width: 100%;
    max-width: 800px;
    background: var(--blanco);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--sombra3);
    border: 2.5px solid var(--principal);
}

#userForm {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

#userForm h1,
#userForm h2,
#userForm h3,
#userForm p {
    grid-column: 1 / -1;
    margin-bottom: 10px;
}

.input-field {
    position: relative;
    width: 100%;
    max-width: 740px;
    line-height: 1.3;
}

.input-field input,
.input-field textarea,
.input-field select {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    font-size: var(--texto);
    padding: 0 12px;
    border: 2px solid var(--negro);
    background: transparent;
    outline: none;
}

.input-field textarea {
    height: 100px; /* Altura fija para el textarea */
    resize: vertical; /* Permite redimensionar verticalmente */
    padding: 12px; /* Más padding para mejor legibilidad */
}

.input-field select {
    appearance: none; /* Elimina el estilo por defecto del select */
    background: var(--blanco);
    cursor: pointer;
}

.input-field input::placeholder,
.input-field textarea::placeholder {
    color: transparent;
}

.input-field label {
    position: absolute;
    top: 15px;
    left: 12px;
    color: var(--negro);
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s;
    background: var(--blanco);
    padding: 0 4px;
}

.input-field input:focus ~ label,
.input-field input:not(:placeholder-shown) ~ label,
.input-field textarea:focus ~ label,
.input-field textarea:not(:placeholder-shown) ~ label,
.input-field select:focus ~ label,
.input-field select:not(:placeholder-shown) ~ label {
    top: -8px;
    font-size: var(--texto);
    color: var(--negro);
    background: var(--blanco);
}

.error {
    color: var(--error);
    font-size: var(--tarjeta);
    margin-top: 5px;
    display: none;
}

.error.visible {
    display: block;
}

.formButton {
    width: 100%;
    padding: 12px;
    background-color: var(--principal);
    color: var(--white);
    border: none;
    border-radius: 6px;
    font-size: var(--texto);
    font-family: var(--bold);
    cursor: pointer;
    transition: background-color 0.3s;
}

.formButton:hover {
    background-color: var(--secundario);
}

.child-block {
    grid-column: 1 / -1;
    margin-bottom: 10px;
}

#childrenContainer {
    grid-column: 1 / -1;
    margin-bottom: 10px;
}

.botoncito {
    grid-column: 1 / -1;
    margin-bottom: 10px;
    color: var(--negro);
    font-size: var(--tarjeta);
    font-family: var(--bold);
    background-color: var(--azul);
    border: 2px solid var(--azul);
    height: 2em;
    cursor: pointer;
}

.botoncito:hover{
    background-color: var(--azul2);
}

.child-block {
    margin-top: 20px;
}

.child-block h2 {
    grid-column: 1 / -1;
    margin-bottom: 10px;
    font-size: var(--subtitulo);
    font-family: var(--bold);
    color: var(--negro);
}

.child-block h3 {
    grid-column: 1 / -1;
    margin-bottom: 10px;
    font-size: var(--subtitulo2);
    font-family: var(--bold);
    color: var(--negro);
}

.child-block .input-field {
    margin-bottom: 15px;
}

.child-block .input-field input,
.child-block .input-field textarea,
.child-block .input-field select {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    font-size: var(--texto);
    padding: 0 12px;
    border: 2px solid var(--negro);
    background: transparent;
    outline: none;
}

.child-block .input-field textarea {
    height: 100px;
    resize: vertical;
    padding: 12px;
}

.child-block .input-field select {
    appearance: none;
    background: var(--blanco);
    cursor: pointer;
}

.child-block .input-field label {
    position: absolute;
    top: 15px;
    left: 12px;
    color: var(--negro);
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s;
    background: var(--black);
    padding: 0 4px;
}

.child-block .input-field input:focus ~ label,
.child-block .input-field input:not(:placeholder-shown) ~ label,
.child-block .input-field textarea:focus ~ label,
.child-block .input-field textarea:not(:placeholder-shown) ~ label,
.child-block .input-field select:focus ~ label,
.child-block .input-field select:not(:placeholder-shown) ~ label {
    top: -8px;
    font-size: var(--tarjeta);
    color: var(--negro);
    background: var(--blanco);
}

.child-block .error {
    color: var(--error);
    font-size: var(--tarjeta);
    margin-top: 5px;
    display: none;
}

.child-block .error.visible {
    display: block;
}

/*----------------------------------------
MENU
-----------------------------------------*/
/* Menú principal */
.menu-principal {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--fondoMenu1);
    border-bottom: 1px solid var(--fondoMenu2);
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-family: var(--regular);
    font-size: var(--texto);
    cursor: pointer;
}

/* Menú fijo */
.menu-fijo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--sombraMenu);
    box-shadow: 0 2px 5px var(--sombra1);
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    transition: top 0.3s ease;
    z-index: 1000;
    cursor: pointer;
}

.menu-fijo.visible {
    top: 0;
}

.opciones {
    display: flex;
    gap: 20px;
}

.opciones a {
    text-decoration: none;
    color: var(--negro);
    transition: color 0.3s;
    font-family: var(--regular);
    font-size: var(--texto);
}

.opciones a:hover {
    color: var(--principal);
}

/* Estilos para los botones dentro de .menu-principal */
.menu-principal button {
    background: none;
    border: none;
    color: var(--negro);
    padding: 10px 20px;
    padding-left: 100px;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Hover para los botones normales */
.menu-principal button:hover {
    color: var(--principal);
}

/* Estilos para "Inscribirse" */
.menu-principal .btn-inscribirse {
    background-color: var(--secundario);
    border-radius: 5px;
    padding: 5px 20px;
    transition: background-color 0.3s ease;
}

/* Hover para el botón "Inscribirse" */
.menu-principal .btn-inscribirse:hover {
    background-color: var(--principal);
    color: var(--negro);
}

.logo {
    height: 50px;
    padding: 0;
    margin: 0;
}

.logo img {
    height: 50px;
}

/* Estilos generales */
.menu-hamburguesa {
    display: none; /* Oculto en pantallas grandes */
}

.menu-principal a {
    font-family: var(--bold);
    font-size: 16px;
}

/*----------------------------------------
HEADER
-----------------------------------------*/
.hero {
    background-image: url(../../../assets/img/buenaCalidad2.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--negro);
    text-align: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4); /* Color oscuro */
    background-blend-mode: multiply; /* Mezcla la imagen con el color de fondo */
}

.hero-title {
    font-size: var(--titulo);
    color: var(--blanco);
}
.breadcrumb{
    color: var(--blanco);
}
.breadcrumb a{
    color: var(--blanco);
}

/* Estilos para inputs, textareas y selects */
input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid var(--negro);
    border-radius: 6px;
    font-size: var(--tarjeta);
    font-family: var(--regular);
    outline: none;
    background: var(--blanco);
}

textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
    min-height: 100px; /* Altura mínima */
}

select {
    appearance: none; /* Elimina el estilo por defecto del select */
    background: var(--blanco);
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px;
}

.detalles-inicioSesion {
    display: flex;
    flex-direction: row;
}

p {
    font-size: 18px;
}

h1 {
    text-align: center;
    color: var(--negro);
    font-size: var(--titulo);
    font-family: var(--bold);
    margin-bottom: 20px;
}

.excepcion {
    text-align: left;
}

h2 {
    font-size: var(--subtitulo);
    font-family: var(--bold);
    margin-bottom: 20px;
}

hr { 
    border: none;
    height: 1px;
    background-color: var(--negro2);
    width: 100%;
    max-width: 900px; /* Limita el ancho del hr */
}

.input-field {
    width: 100%; /* Hace que el contenedor ocupe todo el ancho */
    max-width: 1000px; /* Evita que sea demasiado grande */
}

.intro {
    text-align: center;
    font-size: var(--texto);
    margin-bottom: 40px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.feature {
    background-color: var(--blanco1);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--sombra3);
    padding: 20px;
    width: calc(50% - 40px);
    box-sizing: border-box;
    text-align: center;
}

.feature-icon {
    width: 80px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin-bottom: 15px;
}

.features {
    gap: 20px; /* Espaciado entre cada feature */
}

.feature {
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y el texto */
    gap: 15px; /* Espaciado entre la imagen y el texto */
}

.feature-icon {
    width: 50px; /* Ajusta el tamaño según necesites */
    height: auto;
}

.informacion {
    flex: 1; /* Hace que el texto ocupe el espacio restante */
}


.feature h2 {
    color: var(--negro);
    font-size: 24px;
    margin-bottom: 15px;
}

.feature p {
    font-size: var(--tarjeta);
    line-height: 1.6;
}

@media (max-width: 768px) {
    .feature {
        width: 100%;
    }
}

/*----------------------------------------
FOOTER
-----------------------------------------*/
.about-section {
    position: relative;
    padding: 40px 30px;
    text-align: left;
    background: var(--negro2);
    color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.4;
}

.about-content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.about-text {
    width: 50%;
    font-size: var(--subtitulo);
    color: var(--blanco);
    margin-top: 50px;
}

.contact-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--tarjeta);
}

.info-item iframe {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 10px;
}

.highlight {
    color: var(--principal);
}

.footer {
    width: 100%;
    background: var(--negro2);
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.footer-divider {
    height: 2px;
    background: var(--blanco);
    width: 50%;
    margin: 0 auto 20px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: var(--blanco);
    font-size: 18px;
}

.footer-links a {
    color: var(--blanco);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.copyright {
    color: var(--blanco);
    opacity: 0.5;
    margin-top: 20px;
}

/*----------------------------------------
BOTON X
-----------------------------------------*/
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--error);
    color: var(--blanco1);
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    transition: background 0.3s ease; /* Efecto de transición */
}

.close-button:hover {
    background: var(--error2); /* Cambia el color al pasar el mouse */
}

.menu-fijo.logoR {
    display: none;
}

.logoR {
    height: 40px;
    padding: 0;
    margin: 0;
    display: none;
}

.logoR img {
    height: 30px;
}
/*----------------------------------------
MENU PRINCIPAL - FORMATO VERTICAL EN MÓVILES
-----------------------------------------*/
@media screen and (max-width: 768px) {

    .menu-hamburguesa {
        display: block !important; /* FORZAR que se vea */
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: var(--negro);
        right: 20px;
        top: 10px;
        z-index: 1100;
    }

    .menu-principal {
        flex-direction: column;
        height: auto;
        padding: 8px;
        text-align: center;
        align-items: stretch;
    }

    .logo {
        margin-bottom: 15px;
        display: none;
    }

    .logoR {
        display: block;
    }

    .botonesMenu {
        display: flex;
        gap: 10px;
    }

    .menu-principal button {
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
}

/*----------------------------------------
MENU FIJO - MENÚ HAMBURGUESA EN MÓVILES
-----------------------------------------*/
@media screen and (max-width: 768px) {
    .menu-fijo {
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        height: 50px;
        top: 0px;
        left: auto;
        margin-top: 0;
    }

    .menu-fijo.logoR {
        display: block;
    }

    .menu-hamburguesa {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: var(--negro);
    }

    .opciones {
        display: none;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--sombraMenu);
        box-shadow: 0 2px 5px var(--sombra1);
        padding: 10px 0;
    }

    .opciones a {
        text-align: center;
        padding: 10px;
        display: block;
    }

    .opciones.activo {
        display: flex;
    }
}

.hero-home {
    transition: background-image 0.5s ease-in-out;
}

.hero-content {
    transition: opacity 0.5s ease-in-out;
}

/*----------------------------------------
Estilos Responsive para Tablets 
(768px - 1024px)
-----------------------------------------*/
@media (max-width: 768px) {
    /*FOOTER*/
    .about-section {
        padding: 20px;
    }

    .footer {
        padding: 20px;
    }

    .about-content {
        flex-direction: column;
    }

    .about-text, .contact-info {
        width: 100%;
    }
}


/*----------------------------------------
Estilos Responsive para Móviles 
(hasta 768px)
-----------------------------------------*/

@media (max-width: 480px) {

    /*Footer*/
    .contact-info {
        font-size: 14px;
        margin-top: 20px;
    }

    .about-text {
        font-size: 20px;
    }

    .footer {
        width: 100%;
        align-items: center;
    }

    .footer-links {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .social-icons {
        flex-direction: row;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        font-size: var(--texto-mobile); 
        margin-bottom: 20px; 
    }

    .features {
        flex-direction: column; 
        gap: 15px; 
    }

    .feature {
        width: 100%; 
        padding: 15px; 
        flex-direction: column; 
        text-align: center; 
    }

    .feature-icon {
        width: 60px; 
        margin-bottom: 10px; 
    }

    .feature h2 {
        font-size: 20px; 
        margin-bottom: 10px; 
    }

    .feature p {
        font-size: 14px; 
        line-height: 1.5; 
    }
}


input:-webkit-autofill {
    background-color: transparent !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-box-shadow: 0 0 0px 1000px #f3f3f3 inset !important;
}