:root {
    --white: #fff;
    --black: #000;
    --success: #50812A;
    --information: #6291E8;
    --warning: #ffcd2b;
    --error: #F66060;
    --background: #E5E5E5;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--background);
}

/* Estilo base */
.hidden {
    display: none;
}

.error {
    color: red;
    font-size: 0.9rem;
}

.success {
    color: green;
    font-size: 0.9rem;
}

/* Estilo place */
.input-field {
    position: relative;
    margin-top: 20px;
}

.input-field input {
    width: 350px;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0px 15px;
    border: 2px solid #000000;
    background: transparent;
    color: #000000;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
}

.input-field input:disabled {
    background-color: #E5E5E5; /* Fondo gris para denotar que está desactivado */
    color: #9e9e9e; /* Color de texto gris para hacerlo más claro */
    border-color: #d3d3d3; /* Borde gris más claro */
    cursor: not-allowed; /* Cambia el cursor para que no se pueda interactuar */
}

.input-field input:disabled ~ label {
    color: #565656; /* Color de texto más claro para el label cuando el input está desactivado */
}

.input-field label {
    position: absolute;
    top: 40%;
    left: 15px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 19px;
    pointer-events: none;
    transition: .3s;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    top: 0;
    font-size: 16px;
    padding: 0 15px;
    background: #E5E5E5;
}

input:-webkit-autofill {
    background-color: transparent !important; /* Transparente para mantener el diseño */
    color: inherit !important; /* Asegura que el color del texto sea consistente */
    box-shadow: 0 0 0 1000px var(--background) inset !important; /* Elimina el color extraño del navegador */
    transition: background-color 5000s ease-in-out 0s; /* Elimina transiciones bruscas */
}
