:root {
    --blanco: #fefefe;
    --negro: #000;
    /*TIPO DE LETRA*/
    --fuente: 'Poppins-regular';
     /*COLORES*/
    --sombra: rgba(255, 255, 255, 0.6);
    --sombraTabla: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --principal: #80C4D3;
    --secundario: #5A9EB3;
    --blancoSecundario: #e0e0e0;
    --informacion: #10BFFB;
    /*SOMBRAS*/
    --sombraInformacion: rgba(16, 191, 251, 0.5);
    --sombraOscura: rgba(0, 0, 0, 0.5);
    --sombraOscura2: rgba(0, 0, 0, 0.3);
    --rojoPrincipal: #CD4533;
    --rojoSecundario: #A32F23;
    --grisFondo: #CFCFCF;
    --azulHeader: #5D828A;
    --sombraMenu: 0px 4px 6px rgba(0, 0, 0, 0.2);
    --fondoCard: white;
    --bordeCard: #5D828A;
    --fondoMateriales: #f4f4f4;
    --fondoPopup: rgba(0, 0, 0, 0.5);
    --sombraPopup: 0 5px 15px rgba(0, 0, 0, 0.3);
    --fondoBoton: #5D828A;
    --fondoBotonHover: #37707f93;
}

@font-face {
    font-family: 'Poppins-regular';
    src: url(../../../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-bold';
    src: url(../../../assets/fonts/Poppins-Bold.ttf);
}

/* General */
body {
    margin: 0;
    padding: 0;
    font-family: var(--fuente);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: var(--grisFondo);
}

/* Contenedor principal */
.container {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    background: var(--grisFondo);
}

/* Header */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
    height: 96px;
    background: var(--azulHeader);
    box-sizing: border-box;
}

.logo {
    width: 258px;
    height: 68px;
    margin-left: 62px;
}

/* Menú de navegación */
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 62px;
}

.nav a {
    text-decoration: none;
    color: var(--negro);
    font-size: 18px;
    font-weight: 400;
}

.nav a div {
    padding: 10px 15px;
    transition: background 0.3s ease;
}

.nav a div:hover {
    color: #80C4D3;
}

.notification-tutor {
    font-weight: bold;
    color: var(--negro);
    margin-top: 5px;
}

.menu-container {
    position: relative;
    display: inline-block;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--blanco);
    box-shadow: var(--sombraMenu);
    border-radius: 5px;
    padding: 8px 0;
    min-width: 150px;
    z-index: 10;
}

.menu button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}

.menu button:hover {
    background: var(--blancoSecundario);
}
.user-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

.user-button img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Menú Hamburguesa */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--negro);
    margin: 4px 0;
}

.nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 96px;
    right: 0;
    background: var(--azulHeader);
    width: 100%;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    z-index: 999;
}

/* Media Queries para Responsive Design */
@media (max-width: 767px) {
    .hamburger {
        display: flex;
        padding-left: 360px;
        margin-top: -30px;
    }

    .nav {
        display: none;
    }

    .nav.active {
        display: flex;
    }
}

/* Título */
.header-title {
    width: 100%;
    background: var(--grisFondo);
    text-align: center;
    padding: 50px 0;
    font-family: 'Poppins-bold';
}

.header-title-text {
    color: var(--negro);
    font-size: 40px;
    font-weight: 700;
}

/* Notificaciones */
.previous-notifications-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin: 40px 0;
}

.notifications-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.notification-card {
    width: 280px;
    background: var(--fondoCard);
    border: 5px solid var(--bordeCard);
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
}

.notification-title {
    font-size: 24px;
    font-weight: 700;
}

.notification-text {
    font-size: 18px;
    font-weight: 400;
}
.titulonoti{
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins-regular';
}
.textarea{
    font-family: 'Poppins-regular';
}

/* Botón Crear Notificación */
.create-notification {
    max-width: 500px;
    margin: 40px auto;
    padding: 15px;
    background: var(--fondoBoton);
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
}

.create-notification:hover {
    background: var(--fondoBotonHover);
    border-radius: 50px;
}

.create-notification-text {
    color: var(--blanco);
    font-size: 24px;
    font-weight: 700;
}

/* Pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--fondoPopup);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: var(--blanco);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    box-shadow: var(--sombraPopup);
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.popup-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: var(--negro);
}

.popup-content label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}

.popup-content select,
.popup-content textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins-regular';
}

.popup-content textarea {
    resize: vertical;
}

.send-btn {
    background: var(--fondoBoton);
    color: var(--blanco);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Poppins-regular';
}

.send-btn:hover {
    background: var(--fondoBotonHover);
}

/* Mensaje de éxito */
.success-message {
    display: none;
    text-align: center;
    font-size: 18px;
    color: green;
    margin-top: 20px;
}

#message {
    width: 480px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .nav {
        flex-direction: row;
        gap: 10px;
    }

    .notification-card {
        width: 90%;
    }
}